<p>task-list works!</p>
<div class="container mt-4">
    <h2>Task List</h2>
  
    <button
      class="btn btn-primary mb-3"
      routerLink="/add">
      Add Task
    </button>
  
    <ul class="list-group">
      <li
        *ngFor="let task of tasks"
        class="list-group-item d-flex justify-content-between align-items-center">
  
        <span
          [style.textDecoration]="task.completed ? 'line-through' : 'none'">
          {{ task.title }}
        </span>
  
        <div>
          <button
            class="btn btn-warning btn-sm"
            (click)="edit(task.id)">
            Edit
          </button>
  
          <button
            class="btn btn-danger btn-sm ms-2"
            (click)="delete(task.id)">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
  